manifest {
  mainScript = 'ATACSeq_workflow.nf'
}

process { 
  container = 'nulzilla/atacseq-dkr:1.0'
  publishDir = [path:params.output, mode:"copy", overwrite: true]

}
profiles {
  conda {
    process.conda = "environment.yml"
    conda.useMamba = true
  }

  docker {
    docker.enabled = true
  }

  local {

  }

}
